@page "/Prioridad"
@page "/Prioridad/{PrioridadId:int}"
@inject PrioridadesBLL PrioridadesBLL
@inject NotificationService notificationService

<EditForm Model="Prioridad" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Registro</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <label>Id: </label>
                    <input type="number" class="form-control" @bind-value="Prioridad.PrioridadId">
                </div>
                <div class="col-3 d-flex align-items-end">
                    <button type="button" class="btn btn-primary" @onclick="Buscar">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </div>
            </div>
            <div>
                <label>Codigo: </label>
                <InputText @bind-Value="Prioridad.Codigo" class="form-control" />
                <ValidationMessage For="@(() => Prioridad.Codigo)" />
            </div>
        </div>

        <div class="model-footer">
            <button type="button" class="btn btn-primary" @onclick="Nuevo">
                <span class="oi oi-file"></span>Nuevo
            </button>
            <button type="submit" class="btn btn-success">
                <span class="oi oi-document"></span>Guardar
            </button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">
                <span class="oi oi-delete"></span>Eliminar
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int? PrioridadId { get; set; }
    public Prioridades Prioridad { get; set; } = new Prioridades();
    public string mensaje { get; set; } = "";

    protected override void OnInitialized()
    {
        if (PrioridadId.HasValue)
        {
            Prioridad.PrioridadId = PrioridadId.Value;
            Buscar();
        }
    }

    public void Buscar()
    {
        var prioridadEncontrada = PrioridadesBLL.Buscar(Prioridad.PrioridadId);
        if (prioridadEncontrada != null)
        {
            Prioridad = prioridadEncontrada;
        }
    }

    public void Nuevo()
    {
        Prioridad = new Prioridades();
    }

    public void Guardar()
    {
        if (!Validar())
        {

            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Validacion",
                    Detail = "Error revise los campos",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
            return;
        }

        var guardo = PrioridadesBLL.Guardar(this.Prioridad);
        if (guardo)
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Exito",
                    Detail = "Ocurrio un error y no fue posible guardar",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
            Nuevo();
        }
        else
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Ocurrio un error y no fue posible guardar",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
        }
    }

    public void Eliminar()
    {
        Buscar();
        if (PrioridadesBLL.Eliminar(this.Prioridad.PrioridadId))
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Exito",
                    Detail = "Eliminado con exito",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
            Nuevo();
        }
        else
        {
            var mensaje = new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Ocurrio un error y no fue posible guardar",
                    Duration = 4_000
                };
            notificationService.Notify(mensaje);
        }

    }

    bool Validar()
    {
        //todo: Validar que el nombre del sistema no este repetido.
        return true;
    }
}    